[swarm]
identity_path = ""
swarm_event_buffer_size = 16
swarm_event_timeout = 200

[autonat]
timeout_sec = 30
boot_delay_sec = 15
refresh_interval_sec = 900
retry_interval_sec = 90
throttle_server_period_sec = 90
use_connected = true
confidence_max = 3
max_peer_addresses = 16
throttle_clients_global_max = 30
throttle_clients_peer_max = 3
throttle_clients_period_sec = 1
only_global_ips = true

[kad]
max_packet_size = 16384
record_ttl_sec = 172800
record_replication_interval_sec = 3600
record_publication_interval_sec = 79200
record_filtering = "Unfiltered"
provider_record_ttl_sec = 172800
provider_publication_interval_sec = 43200
kbucket_inserts = "OnConnected"
periodic_bootstrap_interval_sec = 300

[kad.query_config]
replication_factor = 20
parallelism = 3
disjoint_query_paths = false

[kad.query_config.timeout]
secs = 60
nanos = 0

[kad.caching.Enabled]
max_peers = 1

[identify]
protocol_version = "owlnest/0.0.1"
agent_version = "rust-libp2p/owlnest/0.0.1"
interval = 300
push_listen_addr_updates = false
cache_size = 100

[mdns]
enable_ipv6 = false

[mdns.ttl]
secs = 360
nanos = 0

[mdns.query_interval]
secs = 300
nanos = 0

[messaging]
timeout_ms = 30000
store = "Volatile"

[blob]
timeout_ms = 60000
max_pending_recv = 16
pending_recv_timeout_sec = 3600
ongoing_recv_timeout_sec = 60
pending_send_timeout_sec = 0
ongoing_send_timeout_sec = 180

[advertise]
timeout_ms = 30000
max_advertise_capacity = 32

[relay_server]
max_reservations = 128
max_reservations_per_peer = 4
reservation_duration_sec = 3600
max_circuits = 16
max_circuits_per_peer = 4
max_circuit_duration_sec = 43200
max_circuit_bytes = 0

[gossipsub]
validation_mode = "Strict"
max_transmit_size = 65536
history_length = 5
history_gossip = 3
mesh_n = 6
mesh_n_low = 5
mesh_n_high = 12
retain_scores = 4
gossip_lazy = 6
gossip_factor = 0.25
heartbeat_interval_ms = 1000
duplicate_cache_time_ms = 60000
allow_self_origin = false
gossip_retransimission = 3
max_ihave_length = 5000
max_ihave_messages = 10
store = "Volatile"
